venv
/venv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
pip-wheel-metadata/

# Build artifacts
build/
dist/
*.tar.gz
*.whl

# Test & Coverage
.coverage
.pytest_cache/
htmlcov/
nosetests.xml
coverage.xml

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!/.env.example
